    <hr>
    <footer>
        &copy; 2025 Dang, Kaur, Lao, Neupane <br>
        California State University
        Monterey Bay
    </footer>
    <br>
    
    <script src="/js/scripts.js"></script>
</body>

</html>