<%- include("partials/header.ejs") %>

    <h1 class="py-2 d-flex justify-content-center text-center"> Dogs Looking for Love </h1>

    <!-- Just testing for now. Will loop through and put in cards later -->
    <div class="p-5 d-flex justify-content-center">
        Friend 1:
        <img src="<%= rottweiler %>" class="img-fluid rounded d-block fixed-size"style= "max-width: 200px;" alt="Picture of Rottweiler Dog" >

        Friend 2:
        <img src="<%= akita %>" class="img-fluid rounded d-block fixed-size" style= "max-width: 200px;" alt="Picture of Akita Dog">

        Friend 3:
        <img src="<%= german %>" class="img-fluid rounded d-block fixed-size" style= "max-width: 200px;" alt="Picture of German Dog">
    </div>
    

</body>

</html>