body {
    background-color: #FFFCF9;
    color: #8F8073;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #AFA9A2;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h2, h3, h4, h5 {
    color: #AFA9A2;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}


.info-card {
    background-color: #ffffff;
    transition: transform 0.3s ease
}
.info-card:hover {
    transform:scale(1.05);
}

.btn-mochi {
    background-color: #fbede9;
    color: #8F8073;
    transition: transform 0.2s ease-in-out;
}

.btn-mochi:hover {
    background-color: #F5E3DC;
    color: #8F8073;
    transform: scale(1.05);
}

.card {
    background: #FFFDF8;
}
.fixed-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
}